.form-header {
  color: var(--color-primary-marine-blue);
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}

.form-desc {
  margin-top: 9px;
  margin: 9px 0 22px;
  color: var(--color-neutral-cool-gray);
  line-height: 1.55rem;
}

@media (min-width: 768px) {
  .form-header {
    font-size: 2rem;
  }

  .form-desc {
    margin-bottom: 36px;
  }
}
