.add-on-form > .add-on {
  border: 1px solid var(--color-neutral-light-gray);
  border-radius: 8px;
  padding: 13px 15px;

  &:has(.selected) {
    border-color: var(--color-primary-blueish-purple);
    background-color: hsl(from var(--color-primary-purplish-blue) h s l / 0.03);
  }

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  .custom-checkbox-ctn {
    $length: 20px;
    width: $length;
    height: $length;

    margin-right: 16px;
    position: relative;

    > input[type="checkbox"] {
      appearance: none;
    }

    .custom-checkbox {
      position: absolute;
      inset: 0;

      border-radius: 4px;
      border: 1px solid var(--color-neutral-light-gray);

      > svg {
        display: none;
      }
    }

    &.selected {
      .custom-checkbox {
        border: transparent;
        background-color: var(--color-primary-purplish-blue);

        > svg {
          display: block;
        }
      }
    }
  }

  h2 {
    margin-bottom: 4px;

    font-size: 0.875rem;
    color: var(--color-primary-marine-blue);
    letter-spacing: -0.015rem;
  }

  .desc {
    font-size: 0.78125rem;
    color: var(--color-neutral-cool-gray);
    letter-spacing: -0.017rem;
  }

  .add-on-cost {
    margin-left: auto;
    font-size: 0.76875rem;
    color: var(--color-primary-purplish-blue);
  }
}
