.step-display {
  align-self: center;
  column-gap: 16px;
  margin: 32px 0 34px;

  color: var(--color-neutral-white);
  font-size: 0.875rem;
  font-weight: var(--font-bold);
}

.step-bubble {
  $length: 33px;
  width: $length;
  height: $length;

  border: 1px solid var(--color-neutral-white);
  border-radius: 50%;

  &.selected {
    background-color: var(--color-primary-light-blue);
    color: var(--color-primary-marine-blue);
    border-color: transparent;
  }
}
