.form-header {
  color: var(--color-primary-marine-blue);
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}

.form-desc {
  margin-top: 9px;
  color: var(--color-neutral-cool-gray);
  line-height: 1.55rem;
}
